.sportsbook {
    box-sizing: border-box;
    display: inline-block;
    width: 98%;
    background-color: #fff;
    height: 500px;
    margin: 6px;
}

.sportsbook-header {
    box-sizing: border-box;
    width: 100%;
    background: #4988B9;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 7px;
    padding-left: 15px;
    text-align: left;
    border: 1.5px solid #0c314e;
}

.sportsbook-sports {
    box-sizing: border-box;
    width: 100%;
    background: #1B5785;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}